<%# @stories.in_groups_of(15).each do |stories, idx| %>
  <div class="btn-group" style="padding: 2px;" data-toggle="buttons">
  <% @stories.in_groups_of(13).first.compact.each_with_index do |story, index| %>
      <button class="btn nav-buttons" style="background-color: #<%= story.color %>"><%= story.name %></button>
    <!-- <button class="btn common" style="<%#= common_btn(story.color || '57a957', story.gradient || '62c462') %>"><%= story.name %></button>&nbsp; -->
  <% end %>
  </div>
<%# end %>
<div class="btn-toolbar">
  <div class="btn-group" data-toggle="button">
  <% @stories.in_groups_of(13)[1].compact.each_with_index do |story, index| %>
      <button class="btn nav-buttons" style="background-color: #<%= story.color %>"><%= story.name %></button>
    <!-- <button class="btn common" style="<%#= common_btn(story.color || '57a957', story.gradient || '62c462') %>"><%= story.name %></button>&nbsp; -->
  <% end %>
  </div>
  <div class="btn-group">
    <button class="btn" id="toggle">Toggle</button>  
  </div>
  <div class="btn-group" data-toggle="buttons-radio">
    <% (2007..2011).each do |yr| %>
      <% btn_class = "btn btn-primary year-buttons" %>
      <% btn_class << " active" if yr == 2007 %>
      <button class="<%= btn_class %>"><%= yr %></button>
    <% end %>
  </div>
  <div class="btn-group" data-toggle="button">
    <button class="btn btn-primary" id='story-btn'><a href="#" id="stories-popover" rel="tooltip" data-original-title="See averages of the stories for all years" style="color: #fff; text-decoration: none;">Stories</a></button>
  </div>
</div>
<p>Rotten Tomatoes Score: <span class="label label-info" id="score_min">0</span> .. <span class="label label-info" id="score_max">100</span></p>
<div id="slider" class="span10"></div>
